<div class="nav">
    <div class="nav-content">
        <div class="logo" routerLink="">
            <h1>E-COMM</h1>
        </div>
        <div class="search">
            <input type="text" #searchInput placeholder="Search products..." (input)="onSearchInput($event)"
                (blur)="hideSearch()">
            <!-- (blur)="hideSearch()" -->
            <button (click)="searchbtn(searchInput.value)">Search</button>
            <!-- search result -->
            <ul *ngIf="searchResult" [ngClass]="{
              'small-search': searchResult && searchResult.length <= 5,
              'large-search': searchResult && searchResult.length > 5,
              'no-search': !searchResult || searchResult.length === 0
            }">
                <li *ngFor="let item of searchResult">
                    <a (mousedown)="redirectToDetails(item._id)">{{ item.name }}</a>
                </li>
            </ul>





        </div>


        <div [ngSwitch]="menuType">

            <!-- for default nav menu -->
            <ul class="menu defaultMenu" *ngSwitchCase="'default'" [class.open]="isMenuOpen">
                <li><a routerLink="login">Login</a></li>
                <li><a routerLink="auth">Signup</a></li>
                <li><a routerLink="cart">Cart <span>{{cartItems}}</span> </a></li>
            </ul>


            <!-- for seller nav menu -->

            <ul class="menu sellerMenu" *ngSwitchCase="'seller'" [class.open]="isMenuOpen">
                <li><a routerLink="seller-add-product">Add Product</a></li>
                <li><a routerLink="seller-home">List</a></li>
                <li><a (click)=" sellerLogout()">Logout</a></li>
                <li><a>{{sellerName | titlecase}}</a></li>
            </ul>

            <!-- for user nav menu -->

            <ul class="menu userMenu" *ngSwitchCase="'user'" [class.open]="isMenuOpen">
                <li><a routerLink="">Home</a></li>
                <li><a>{{userName | titlecase}}</a></li>
                <li><a (click)="userLogout()">Logout</a></li>
                <li><a routerLink="cart">Cart <span>{{cartItems}}</span> </a></li>
            </ul>

            <!-- hamburger menu for responsive screen -->

            <div class="burger" (click)="toggleMenu()" [class.open]="isMenuOpen">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>


    </div>
</div>