<div class="product-container" *ngIf="productData">
    <div class="image-container">
        <img class="product-img" src="{{productData.image}}" alt="">
    </div>
    <div class="prouct-details">
        <p>{{productData.name}}</p>
        <p>Price : ₹ <strong>{{productData.price}}</strong></p>
        <div>Color :<h3 [style.backgroundColor]="productData.color" class="product-color"></h3>
        </div>
        <p>Category : <strong>{{productData.category}}</strong></p>
        <p>Description: {{productData.description.length > 150 ? productData.description.slice(0, 150) + '...' :
            productData.description}}</p>

        <button class="form-button" *ngIf="!isSellerLoggedIn">Buy Now</button>
        <button (click)="removeFromCart(productData.id)" class="form-button marginLeftbtn" *ngIf="isProductInCart && !isSellerLoggedIn">Remove from Cart</button>
        <button class="form-button marginLeftbtn" *ngIf="!isProductInCart && !isSellerLoggedIn" (click)=" addToCart()">Add to Cart</button>        
        <button class="form-button Editbtn" *ngIf="isSellerLoggedIn" (click)="EditRedirect(productData.id)">
            <fa-icon [icon]="faEditIcon"></fa-icon>
            Edit
        </button>        
        <div class="quantity-group" *ngIf="!isProductInCart && !isSellerLoggedIn">
            <button  (click)="handleQuantity('min')" [disabled]="productQuantity === 1" [ngClass]="{'disabled': productQuantity === 1}">-</button>
            <input type="text" value="{{productQuantity}}" />
            <button (click)="handleQuantity('plus')" [disabled]="productQuantity === 5" [ngClass]="{'disabled': productQuantity === 5}">+</button>
          </div>
          
    </div>
</div>