

<div class="product-list">
    <h1>Product List</h1>
    <p class="showMessage-p">{{showDeleteSuccessMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngIf="!isLoading">

            <tr *ngFor="let item of productList">
                <td>
                    <img src={{item.image}} alt={{item.name}}>
                </td>
                <td> {{item.name}} </td>
                <td>₹ {{item.price}}.00</td>
                <td>{{item.category}}</td>
                <td>
                    <fa-icon [icon]="deleteFonticon" (click)="deleteProductFn(item.id)"
                      [style.cursor]="'pointer'" class="delete-icon"></fa-icon>
                    <fa-icon [icon]="EditFonticon" [style.cursor]="'pointer'" class="edit-icon" (click)="editFn(item.id)" ></fa-icon>
                  </td>
                  


            </tr>

        </tbody>
    </table>
    <app-loading [isLoading]="isLoading" [loadingText]="loadingText"></app-loading>
</div>